// Archives

.blog .posts-wrapper,
.archive .posts-wrapper,
.search .posts-wrapper {
	article {
		margin-bottom: 30px;
		img {
			margin-bottom: 20px;
			width: 100%
		}
		.entry-content {
			.entry-title {
				.font-size(22);
				text-align: left;
			}
			p {
				margin: 0;
			}
		}
	}
}

